{% extends 'base.html.twig' %}

{% block title %}Page Index Auteur{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue dans {{ controller_name }} ✅</h1>

    <p>Vous êtes sur la page <strong>Index</strong> des auteurs.</p>

    <ul>
        <li>Contrôleur : <code>src/Controller/AuthorController.php</code></li>
        <li>Template : <code>templates/author/index.html.twig</code></li>
    </ul>

    <p>
        👉 Testez aussi la page show :  
        <a href="{{ path('app_author_show', {'name': 'Fabien'}) }}">Voir l’auteur Fabien</a>
    </p>
</div>
{% endblock %}
