<h1>liste authors</h1>
//table
<table border="1">
    <thead>
        <tr>
            
            <th>username</th>
            <th>email</th>
            <th>actions</th>
            
        </tr>
    </thead>
<tbody>

    //author hya copie o hatyneha fi authors 
        {% for author in authors %}
            <tr>
                <td>{{  author.username}}</td>
                <td>{{author.email }}</td>
                
                <td>
                    //edit <a href="{{ path('app_author_edit', {'id': author.id}) }}">Edit</a>
                    //delete <a href="{{ path('app_author_delete', {'id': author.id}) }}">Delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">no authors found</td>
            </tr>
                 {% endfor %}
</tbody>
</table>



